body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1  {
    color: #ffffff;
}
p {
    color: #ffd500;
    line-height: 1.6;
}
ul {
    list-style-type: square;
    color: #cccccc;
}
a {
    color: #71d8f2;
    text-decoration: none;
}
div li {
    margin-bottom: 10px;
    padding: 10px 4px;
    border : 1px solid #444444;
    border-radius: 5px;
    text-align: center;

}